<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <div class="chat-layer">
    <ul class="chat-messages">
      <ng-container class="message-container" *ngFor="let message of messages">
         <p class="message" *ngIf="message.user">{{ message.user.name + ": "  + message.data }}</p>
         <p class="message" *ngIf="!message.user">{{ message.data }}</p>
      </ng-container>   
    </ul>
    <hr class="separator">
    <div class="send-message-container">
      <input [(ngModel)]="message" (click)="sendMessage('say', message)"  class="send-message-input" placeholder="Enter message...">
      <ion-icon name="send"></ion-icon>
    </div>
  </div>

  <div class="user-layer">
    <ul class="user-list" id="user-list">
      <ng-container *ngFor="let user of userList">
        <li id='user-"+user.id+"'>{{user.name}}</li>
      </ng-container>
    </ul>
  </div>

  <div class="leaderboard-layer">
    <ul class="leaderboard-list" id="leaderboard-list"></ul>
  </div>

  <div class="leavechat-container">
    <button class="leave-button" (click)="leaveChat()">Leave</button>
  </div>
  
</ion-content>