.header {
  width: 100vw;
  height: 7vh;

  ion-toolbar {
    height: 7vh;
  }
}

.body {
  --keyboard-offset: 0 !important;
  width: 100vw;
  height: 93vh;

  .chat-layer {
    height: 93vh;
  }
  
  .chat-messages {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    margin: 0;
    padding: 15px;
    overflow: scroll;
  }
  
  .send-message-container {
    padding: 15px;
    margin: 0;
  
    ion-icon {
      margin-left: 10px;
    }
  }

  .user-layer {
    height: 20vh;
    width: 100px;
    position: absolute;
    border: 1px solid;
    border-color: white;
    top: 7vh;
    right: 0;
    overflow: scroll;
  }

  .leaderboard-layer {
    height: 20vh;
    width: 100px;
    position: absolute;
    border: 1px solid;
    border-color: white;
    top: 27vh;
    right: 0;
    overflow: scroll;
  }

  .leavechat-container {
    height: 5vh;
    width: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 47vh;
    right: 0;
    margin-top: 5px;

    button {
      width: 100px;
      height: 5vh;
      border-radius: 4px;
      border: 1px solid rgb(255, 113, 113);
      background-color: rgb(248, 146, 146)
    }
  }

  .separator {
    background-color: white;
  }
}

